<h1>New</h1>

<script type='text/javascript'>
  var swfu;

  window.onload = function () {
    swfu = new SWFUpload({
      upload_url : '<%= assets_path -%>?_swfupload_demo_session=<%= u session.session_id %>',
      flash_url : '/flash/swfupload.swf',

			// Button settings
			button_image_url: "/images/TestImageNoText_65x29.png",	// Relative to the Flash file
			button_width: "65",
			button_height: "29",
			button_placeholder_id: "spanButtonPlaceHolder",
			button_text: '<span class="theFont">Hello</span>',
			button_text_style: ".theFont { font-size: 16; }",
			button_text_left_padding: 12,
			button_text_top_padding: 3,

      file_size_limit : '10000',
      file_types : '*.jpg',
      file_types_description : 'JPG Images',
      file_upload_limit : '0',
			custom_settings : {
				progressTarget : "fsUploadProgress"
			},

      file_queue_error_handler : fileQueueError,
      file_dialog_complete_handler : fileDialogComplete,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,
      upload_complete_handler : uploadComplete,

			post_params : {
				authenticity_token : '<%= u form_authenticity_token -%>',
			},

      custom_settings : { 
        upload_target : 'divFileProgressContainer',
      },

      debug: false

    });
  };
</script>

<div style="margin: 0px 10px;">
	<div>

		<% form_for(@asset) do |f| %>
			<fieldset>
				<div id="divStatus">0 Files Uploaded</div>
					<div>
						<span id="spanButtonPlaceHolder"></span>
					</div>
			</fieldset>
		<% end %>

	</div>
	<div id="divFileProgressContainer" style="height: 75px;"></div>
	<div id="thumbnails"></div>
	
	<p><%= link_to 'back', assets_path %></p>
</div>
